.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.field {
  text-align: center;
  font-family: Arial;
}
.value {
  font-size: 36px;
  display: block;
}
button[disabled] {
  opacity: 0.5;
}

.flatpickr-calendar {
  font-family: 'Segoe UI', sans-serif;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  padding: 16px;
  width: 280px;
  height: 352px;
}

.flatpickr-day:hover {
  background: #00bcd4;
  color: white;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #007aff;
  color: white;
}
.flatpickr-day.today {
  border: 1px solid #007aff;
}

.time-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 40px;
}

.input-time {
  display: flex;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 40px;
  padding: 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-time:focus {
  outline: none;
  border: 1px solid #4e75ff;
  border-radius: 4px;
}

.btn-time {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-time:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.btn-time:hover {
  background: #6c8cff;
}
